body {
    font-family: 'Century Gothic', sans-serif;
    text-decoration-color: white;
    /* background: linear-gradient(135deg, rgb(239, 22, 22), #2890f1); */
    background-image: radial-gradient(#ffffff 3%, #333333 5%);
    background-size: 20px 20px;
    color: rgb(255, 255, 255);
  }
  
  nav {
    background-color: rgb(31, 31, 31);
  }
  
  nav ul {
    margin: 50;
    padding: 50;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
  }
  
  nav ul li {
    margin: 20;
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    display: block;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease;
    text-align: center;
    padding: 13px;
  }
  
  nav ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
  }
  
  p {
    text-align: center;
  }
  
  img {
    text-align: center;
  }

  #links {
    max-width: 500px;
    margin: 0 auto;
  }

  nav ul li:last-child {
    margin-right: 0;
  }
  