body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;    
    font-family: 'Century Gothic', sans-serif;
  text-decoration-color: white;
  background: linear-gradient(135deg, rgb(88, 88, 88), #252525);
  
  color: rgb(255, 255, 255);
}

.picker-container {
    text-align: center;
}

.picker {
    width: 800px;
    height: 800px;
    border: 2px solid #333;
    border-radius: 50%;
    position: relative;
    transform: rotate(0deg);
    transition: transform 3s ease-out;
}

.name {
    position: absolute;
    width: 100%;
    text-align: center;
    transform-origin: 50% 100%;
    transform: rotate(0deg);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
